<div class="row">
<div class="form-group col-md-7">
  <label  >Name</label>
  <input type="name" class="form-control "  ng-model="register.newUser.name" >
</div>
</div>
<div class="row">
<div class="form-group col-md-9">
  <label  >Last Name</label>
  <input type="name" class="form-control "  ng-model="register.newUser.lastName" >
</div>
</div>
<div class="row">
  <div class="form-group col-md-6">
    <label  >Nick</label>
    <input type="email" class="form-control"   ng-model="register.newUser.username">
  </div>
 </div>
 <br>
<div class="form-group col-md-8">
      <div class="col-md-offset-2">
        <a ui-sref="register.account" class="btn btn-block btn-primary"> Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
    </div>
</div>