<div class="row">
<div class="form-group col-md-7">
  <label  >E-mail</label>
  <input type="text" class="form-control "  ng-model="register.newUser.email" >
</div>
</div>
<div class="row">
<div class="form-group col-md-6">
  <label  >Password</label>
  <input type="password" class="form-control "  ng-model="register.newUser.password" >
</div>
</div>

<div class="row">
<div class="form-group col-md-6">
  <label >Re-Enter Password</label>
  <input type="password" class="form-control "  ng-model="register.newUser.password2" >
</div>
</div>

 <br>
<div class="form-group col-md-7 col-md-offset-1">
      <div class="col-md-offset-2">
        <a ui-sref="register.interests" class="btn btn-block btn-primary"> Next &nbsp;   <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
    </div>
</div>

