<div id="main-info">
    
   <!--  <div class="row">
        <profile-info></profile-info>
    </div> -->

<div class="row">
  <div class="col-md-2 col-sm-2">
   <div class="row hidden-sm hidden-xs" style="margin-left: ">
     <div   class="panel panel-default">  
        <div class="panel-heading"><h3>Online Contacts </h3></div>
        <div class="panel-body"><h3></h3>
          <ul class="list-group">
            <li ng-repeat="c in dashboard.connected " class="list-group-item" ng-dblclick="dashboard.createChatbox(c)">
              <span><img class="buddy-pic" src="files/c.img"  width="75" height="75" />{{c}} </span>
            </li>
          </ul>
        </div>
    </div>
    </div>
  </div>
</div>


<div class="row">
<!--   <div ng-if="dashboard.chatboxes === undefined">
    <h1>it's undefined</h1>
  </div> -->
   <div ng-repeat="(from, msgOb) in dashboard.chatboxes">
        <div ng-include src="'./app/includes/chatbox.html'" ></div>   
   </div> 
</div>  