<div class="row"></div>

<div class="row"></div>

<div class="row"></div>

<div class="row"></div>

<div style="width:500px; margin-top:10%" class="col-md-offset-3 panel panel-info">
  <div class="panel-body">
    <h3>Gracias por entrar, hasta pronto</h3>
  </div>
</div>

