<form class="form-horizontal" style="margin-top:8%"  ng-submit="register.doSubmit()">
<fieldset>

<!-- Form Name -->
<legend>Register User</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username">username</label>  
  <div class="col-md-3">
  <input id="username" name="username" ng-model="register.newUser.username" type="text" placeholder="username" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">name</label>  
  <div class="col-md-2">
  <input id="name" name="name" ng-model="register.newUser.name" type="text" placeholder="name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Last name">Last name</label>  
  <div class="col-md-2">
  <input id="Last name" ng-model="register.newUser.lastName" name="Last name" type="text" placeholder="last-name" class="form-control input-md">
  <span class="help-block"> </span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Email">email</label>  
  <div class="col-md-3">
  <input id="Email" name="Email" ng-model="register.newUser.email" type="text" placeholder="email" class="form-control input-md"> 
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Password">password</label>
  <div class="col-md-2">
    <input id="Password" name="Password" ng-model="register.newUser.password" type="password" placeholder="password" class="form-control input-md" required="">
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-success">Submit</button>
  </div>
</div>

</fieldset>
</form>
<div  ng-show="register.success">
    <div class="col-md-offset-4 col-sm-offset-2 col-md-4 col-sm-8 col-xs-12 ">
        <div class="panel panel-success">
            <div class="panel-heading"> <h3 class="col-lg-offset-2">The user  <em>{{register.newUserCreated}}</em> has been created</h3></div>
        </div>
    </div>
</div>