<div class="row col-lg-6 col-md-6 col-sm-5 col-xs-6  col-md-offset-4 chatbox "   chatbox-label  >
    <div class="panel panel-primary col-md-6"  >
      <div class="panel-heading row">
        <div class="col-md-6 col-sm-4 col-xs-3">
        <h3 class="panel-title" class=""  > </h3>
        </div>
        <div class="col-md-6 col-sm-8 col-xs-7">
        <span id="remove-chatbox" class="glyphicon glyphicon-remove pull-right" style="cursor: pointer;" aria-hidden="true"></span>
        </div> 
      </div>
      <div class="panel-body">
        
          <div id="message-window">
            <div ng-if="$root.messages[current] != 'undefined'">
                <div class="row" ng-repeat="msgOb in $root.messages[current]">
                  <div class="chat-bubble bubble-right"  ng-if="msgOb.byMe">      
                    {{msgOb.text}}
                  </div>

                  <div class="chat-bubble bubble-left"  ng-if="!msgOb.byMe">      
                    {{msgOb.text}}
                  </div>
                </div>
            </div> 
          </div>
        
        <hr />
        <textarea class="form-control" rows="2" id="message-input" ></textarea>
      </div>
    </div>
</div>