
<div class="dark-form">
    <div class="col-md-7 col-md-offset-1">
      <div class=" col-md-offset-1">
        <div class="row col-md-offset-3 reg-header">
          <div class="col-md-offset-1 ">
            <div class="col-md-offset-1 ">
                <h1>Login Credentials</h1>
            </div>
          </div>    
        </div>
        <div class="row col-md-offset-3 reg-header">
            
        </div>

        <div class="row col-md-offset-3 reg-body">
          <div class="col-md-offset-2 ">
            <br>
            <form  ng-submit="login.doSubmit()" ng-show="!login.invalid">
                <div class="row">
                <div class="form-group col-md-7  col-md-offset-1">
                  <label  >Username</label>
                  <input type="text" class="form-control "  ng-model="login.user.username" >
                </div>
                </div>
                <div class="row">
                <div class="form-group col-md-7 col-md-offset-1">
                    
                  <label  >Password</label>
                  <input type="password" class="form-control "  ng-model="login.user.password" >
                 
                </div>
                </div>

                 <br>
                <div class="form-group col-md-6 col-md-offset-1" >
                  <div class="col-md-offset-2">
                    <button class="btn btn-block btn-primary">Login</button>
                  </div>
                </div>      
            </form>

            <div  class="form-group col-md-7 col-md-offset-1  error-response " ng-show="login.invalid"  >
                <div class="col-md-offset-1">{{login.invalid}}</div>
            </div>
          </div>
        </div>
        
        </div>
      </div>
    </div>
  </div>