
<div class="col-md-offset-4 col-sm-offset-2 col-md-4 col-sm-8 col-xs-12 " id="login-container">
    
    <div id="login-header"></div>
        <form  ng-submit="login.doSubmit()" method="post" class="form-horizontal">
            
            <div id="login-input">
                <div class="form-group">
                    <span class="glyphicon glyphicon-record control-label col-xs-2 login-icon" ></span>
                    <div class="col-md-6 col-xs-6 ">
                        <input type="text"  ng-model="login.user.username"   class="form-control input-sm chat-input"  placeholder="username" />
                    </div>  
                </div>

                <div class="form-group">
                    <span class="glyphicon glyphicon-record control-label col-xs-2 login-icon" ></span>
                    <div class="col-md-6 col-xs-6">
                        <input type="password"  ng-model="login.user.password"   class="form-control input-sm chat-input"  placeholder="anything.." />
                    </div>  
                </div>
            </div>

            <div id="login-middle-logo">
                <span class="glyphicon glyphicon-lock" ></span> 

            </div>

            <button  id="login-submit" type="submit" class="btn btn-primary">Login</button>

        </form>
    </div>

</div>

<div style="margin-top:10%" ng-show="login.isInvalid" >
    <div class="col-md-offset-4 col-sm-offset-2 col-md-4 col-sm-8 col-xs-12 ">
        <div class="panel panel-danger">
            <div class="panel-heading"> <h3 class="col-lg-offset-2">Wrong credentials</h3></div>
        </div>
    </div>
</div>